{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3" style="color:greenyellow;"></i>
            <h3>SEO</h3>
            <P style="font-size:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ut, debitis modi!</P>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>Web Design</h3>
            <P style="font-size:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, debitis modi!</P>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>Web Development</h3>
            <P style="font-size:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, debitis modi!</P>
        </div>
        <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>IOS</h3>
            <P style="font-size:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ut, debitis modi!</P>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>Advertisment</h3>
            <P style="font-size:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, debitis modi!</P>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil-alt fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>Logo Design</h3>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, debitis modi!</P>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>Hosting</h3>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, debitis modi!</P>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-headset fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>Support</h3>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, debitis modi!</P>
        </div>
        <div class="col-sm-4">
            <i class="fab-solid fa-android fa-2x mb-3 i-color" style="color:greenyellow;"></i>
            <h3>Android</h3>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ut, debitis modi!</P>
        </div>
    </div>
</div>
{% endblock content %}